.tab {
    background-color: #F6F6F6;
    /*color: #fff;*/
}

ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}
ul li {
    width: 20%;
    list-style: none;
    float: left;
    text-align: center;
    line-height: 40px;
}
.line {
    background-color: #80bd01;
    height: 2px;
    margin-left: 0;
    transition: margin-left .5s;
}